{% extends 'pages/base.html' %}

{% block title %}Prostep{% endblock  %}

{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="{% url 'profile' %}">
                <img src="{% static 'images/logo.png' %}" width="70" height="70" alt="W7Game-logo">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hire Prostep
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Post your project</a>
                <a class="dropdown-item" href="#">Post design competition</a>
                <a class="dropdown-item" href="#">Post part-time jobs</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Finding work
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <a class="dropdown-item" href="{% url 'projects' %}">Working follow projects</a>
                <a class="dropdown-item" href="#">Working part-time jobs</a>
                <a class="dropdown-item" href="#">Design competition</a>
              </div>
            </li>
          </ul>
          <ul class="nav justify-content-end" style="margin-right: 2.5%">
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
          </ul>
        </div>
</nav>


    <div class="container" style="width: 50%; margin-left: 40%; margin-top: 5%;">
    <h1 style="text-align: center">Projects</h1>
    {% for post in Posts %}
    <div class="card" style="margin-top: 1%;">
    <h5 class="card-header">{{post.title}}</h5>
    <div class="card-body">
        <p class="card-text">{{post.cash}}</p>
        <p class="card-text">{{post.date|date:"d-m-Y"}}</p>
        <p class="card-text">{{user.username}}</p>
        <a href="/projects/{{post.id}}" class="btn btn-primary">Join</a>
    </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}